.content {
  margin-top: 45px;
  margin-bottom: 50px;
}
.content > .mui-slider-indicator {
  background-color: red;
}
.content > .goodsName {
  margin: 10px;
  font-size: 20px;
  color: #333;
}
.content > .goodsPrice {
  color: red;
  font-size: 20px;
  margin: 20px 10px;
}
.content > ul {
  margin: 10px;
}
.content > ul li {
  height: 45px;
  border-bottom: 1px solid #333;
  line-height: 45px;
}
.content > ul li > span:nth-of-type(1) {
  color: #aaa;
  display: block;
  width: 20%;
  float: left;
}
.footer .mui-btn {
  top: 0px;
  margin-right: 2px;
  border-radius: 0;
}
